{
  "Entries": [
    {
      "RequestUri": "/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/Microsoft.Authorization/policyAssignments/8e6d811f59d145db97ca9f16/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2019-10-01&$top=10&$from=2019-11-21T00:00:00Z",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "593"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/Microsoft.Authorization/policyAssignments/8e6d811f59d145db97ca9f16/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 10,\r\n  \"value\": [\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/Microsoft.Authorization/policyAssignments/8e6d811f59d145db97ca9f16/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-11-22T07:28:17.2410375Z\",\r\n      \"resourceId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa2\",\r\n      \"policyAssignmentId\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.authorization/policyassignments/8e6d811f59d145db97ca9f16\",\r\n      \"policyDefinitionId\": \"/providers/microsoft.authorization/policydefinitions/34c877ad-507e-4c82-993e-3452a6e0ad3c\",\r\n      \"effectiveParameters\": \"\",\r\n      \"isCompliant\": false,\r\n      \"subscriptionId\": \"e78961ba-36fe-4739-9212-e3031b4c8db7\",\r\n      \"resourceType\": \"/Microsoft.Storage/storageAccounts\",\r\n      \"resourceLocation\": \"westus\",\r\n      \"resourceGroup\": \"sandipsh\",\r\n      \"resourceTags\": \"tbd\",\r\n      \"policyAssignmentName\": \"8e6d811f59d145db97ca9f16\",\r\n      \"policyAssignmentOwner\": \"tbd\",\r\n      \"policyAssignmentParameters\": \"\",\r\n      \"policyAssignmentScope\": \"/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourceGroups/sandipsh\",\r\n      \"policyDefinitionName\": \"34c877ad-507e-4c82-993e-3452a6e0ad3c\",\r\n      \"policyDefinitionAction\": \"audit\",\r\n      \"policyDefinitionCategory\": \"tbd\",\r\n      \"policySetDefinitionId\": \"/providers/Microsoft.Authorization/policySetDefinitions/cf25b9c1-bd23-4eb6-bd2c-f4f3ac644a5f\",\r\n      \"policySetDefinitionName\": \"cf25b9c1-bd23-4eb6-bd2c-f4f3ac644a5f\",\r\n      \"policySetDefinitionOwner\": \"\",\r\n      \"policySetDefinitionCategory\": \"regulatory compliance\",\r\n      \"policySetDefinitionParameters\": \"\",\r\n      \"managementGroupIds\": \"PolicyUIMG,AzGovTest5,72f988bf-86f1-41af-91ab-2d7cd011db47\",\r\n      \"policyDefinitionReferenceId\": \"auditunrestrictednetworkaccesstostorageaccounts\",\r\n      \"complianceState\": \"NonCompliant\",\r\n      \"policyDefinitionGroupNames\": [\r\n        \"nist_sp_800-53_r4_ac-17(1)\",\r\n        \"nist_sp_800-53_r4_sc-7\"\r\n      ]\r\n    },\r\n    {\r\n      \"@odata.id\": null,\r\n      \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/Microsoft.Authorization/policyAssignments/8e6d811f59d145db97ca9f16/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity\",\r\n      \"timestamp\": \"2019-11-22T07:28:17.2409567Z\",\r\n      [...]
