{
  "Entries": [
    {
      "RequestUri": "//subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/default/queryResults?api-version=2019-10-01&$top=10&$filter=policyAssignmentId%20eq%20'%2Fsubscriptions%2Fe78961ba-36fe-4739-9212-e3031b4c8db7%2Fproviders%2FMicrosoft.Authorization%2FpolicyAssignments%2F8e6d811f59d145db97ca9f16'%20and%20resourceId%20eq%20'%2Fsubscriptions%2Fe78961ba-36fe-4739-9212-e3031b4c8db7%2Fresourcegroups%2Fsandipsh%2Fproviders%2Fmicrosoft.storage%2Fstorageaccounts%2Fsandipshsa1'&$expand=PolicyEvaluationDetails",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-policy-insights-requests": [
          "593"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11998"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"@odata.context\": \"https://management.azure.com/subscriptions/e78961ba-36fe-4739-9212-e3031b4c8db7/resourcegroups/sandipsh/providers/microsoft.storage/storageaccounts/sandipshsa1/providers/Microsoft.PolicyInsights/policyStates/$metadata#default\",\r\n  \"@odata.count\": 0,\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}